{% extends 'base.html' %}
{% include 'navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sld/form.css' %}">
{% endblock %}

{% block body %}
    <section class="services-area section-gap">
        <div class="container">

            <div class="row">
                <div class="col-md-5"><h2>İŞ EMRİ</h2></div>
                <div class="col-md-7" style="text-align: right;"><h2>SLD KAYAR KAPI</h2><br></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ field.label }} | {{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <form method="POST" action="{% url 'sld:create' %}">
                                {% csrf_token %}

                                {{ form|crispy }}
                                {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
                                {% bootstrap_css %}         {# Embed Bootstrap CSS #}
                                {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
                                {{ form.media }}
                                <br>
                                <div style="text-align: center;">
                                    <input type="submit" value="Oluştur" class="btn btn-primary btn-sm"></input>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
{% endblock %}
{%  block extra_script %}
    <script src="{% static 'js/doors/sld/form.js' %}"></script>
{% endblock %}